@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/gothambold-webfont.woff2') format('woff2'), url('../fonts/gothambold-webfont.woff') format('woff')
    }
    
    @font-face {
        font-family: 'SourceCodePro-Regular';
        src: url('../fonts/SourceCodePro-Regular.ttf') format('ttf');
    }
}
