@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Gotham-Bold';
    src: local('Gotham-Bold'), url('../fonts/Gotham-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'SourceCodePro-Regular';
    src: local('SourceCodePro-Regular'), url('../fonts/SourceCodePro-Regular.ttf') format('ttf');
}

@tailwind utilities;
