@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gotham-Bold';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/Gotham-Bold.ttf') format('ttf');
    }
    
    @font-face {
        font-family: 'SourceCodePro-Regular';
        src: url('../fonts/SourceCodePro-Regular.ttf') format('ttf');
    }
}
